:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Thicker scrollbar width */
  height: 5px; /* Thicker scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    #4ab1f1 0%,
    #566cec 33%,
    #d749af 66%,
    #ff7c51 100%
  ); /* Gradient color for the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to right,
    #ff7c51 0%,
    #d749af 33%,
    #566cec 66%,
    #4ab1f1 100%
  ); /* Hover effect color for the scrollbar thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thick scrollbar */
  scrollbar-color: #d749af #f0f0f0; /* Thumb color (solid fallback) and track color */
}